.comic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  left: 0;
  z-index: 2;
  background-color: transparent;
  top: 0;
  color: white;
  position: fixed;

  background: linear-gradient(
    180deg,
    #dc0914,
    #dc0914 6%,
    #000 0,
    rgba(220, 9, 20, 0)
  );
  transition: top 0.3s ease-in 0s;

  @media (max-width: 768px) {
    padding: 10px;
  }

  .logo {
    svg {
      width: 65px;
    }
  }
}
